VAULT_TOKEN=

POSTGRES_URL=postgres://postgres@localhost:5432/postgres
VAULT_ADDR="http://127.0.0.1:8200"
LISTEN_ADDR=127.0.0.1:8080

AUTH_DB=ytx_auth

READWRITE_USER=ytx_readwrite
READWRITE_PASSWORD=